.addTaskItem > span {
  margin-right: 8px;
  margin-left: 3px;
  color: $Loulou;
  font-weight: 800;
}

.addTaskItem {
  font-size: 0;
}

.addTaskItem * {
  font-size: 15px;
}

.addTaskItem > input {
  background-color: transparent;
  border: 1px solid $Alto;
  font-size: 15px;
  padding-left: 5px;
  width: calc(100% - 20px);
  height: 30px;
}

@include breakpoint(mobileonly) {
  .addTaskItem > input {
    font-size: 15px;
  }
}
