.list {
  & h4 {
    letter-spacing: 1px;
    color: $Loulou;
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
  }
  .list__title__modifier {
    border: none;
    background-color: transparent;
  }
}
