.primaryButton {
  background: none;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 5px 15px;
  text-decoration: none;
  border: 1px solid $Loulou;
  background-color: $Loulou;
  border-radius: 5px;
  color: $Bianca;
  cursor: pointer;

  &.small {
    height: 25px;
    font-size: 10px;
  }

  &:not(:disabled):hover {
    opacity: 0.9;
    border: 1px solid $Loulou;
    background-color: $Loulou;
  }

  &:disabled {
    background-color: $Loulou;
    border: 1px solid $Loulou;
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.secondaryButton {
  color: $Loulou;
  background: none;
  letter-spacing: 1px;
  border: 1px solid $Loulou;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 5px;

  &:not(:disabled):hover {
    border: 1px solid $Loulou;
    background-color: transparent;
    color: $Loulou;
  }
}
