.taskItem p {
  margin: 0;
  color: $Loulou;
  font-size: 20px;
  font-weight: 800;
}

.taskItem p input {
  border: none;
  background: transparent;
}

.taskItem p input[type="checkbox"] {
  width: 15px;
  display: inline-block;
  margin: 0;
}

.taskItem p input[type="checkbox"]:hover {
  transform: scale(1.5);
}

.taskItem__listItem {
  width: calc(100% - 15px - 10px);
  display: inline-block;
  margin: 0;
  padding-left: 5px;
}

.taskItem__listItem--complete {
  text-decoration: line-through;
}
.taskItem p span {
  margin: 0;
  width: 10px;
  display: inline-block;
  cursor: pointer;
}

@media (min-width: 576px) {
  .taskItem p {
    font-size: 18px;
  }
}
