.taskItem {
  p {
    margin: 0;
    color: $Loulou;
    font-size: 20px;
    font-weight: 800;

    input {
      border: none;
      background: transparent;
    }

    input[type="checkbox"] {
      width: 15px;
      display: inline-block;
      margin: 0;

      &:hover {
        transform: scale(1.5);
      }
    }

    @include breakpoint(mobileonly) {
      font-size: 18px;
    }
  }

  span {
    margin: 0;
    width: 10px;
    display: inline-block;
    cursor: pointer;
  }
}

.taskItem__listItem {
  width: calc(100% - 15px - 10px);
  display: inline-block;
  margin: 0;
  padding-left: 5px;
}

.taskItem__listItem--complete {
  text-decoration: line-through;
}
