.modal-title {
  color: $Loulou;
  font-weight: 500;
}

.Modal__label {
  width: 100%;
}

.Modal__input {
  width: 100%;
  border: 1px solid #b5b6b7;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  padding: 0 6px;
}
